:host ::ng-deep {
    .mat-toolbar {
        justify-content: space-between;
        border-bottom: 1px solid var(--borderColor);
        .mat-mdc-tab-link-container {
            border: none;
            .mat-mdc-tab-link {
                height: 62px;
            }
        }
    }
}