.search-history-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 64px);
    padding: 20px;
    .page-inner-container {
        max-width: 360px;
        width: 100%;
        min-width: 240px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
        margin-top: -200px;
        &.full-height {
            height: max-content;
            margin-top: 0px;
            max-height: calc(100dvh - 80px);
        }
        .search-bar, .search-list-container, .search-action {
            width: 100%;
        }
        .search-list-table {
            height: 100%;
            width: 680px;
            text-align: center;
            .searched-result {
                display: flex;
                flex-direction: column;
                gap: 8px;
                align-items: flex-end;
                margin-bottom: 8px;
                a {
                    color: #0077c1;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .search-term {
                font-size: 14px;
                color: var(--fontColor);
                font-weight: 400;
            }
        }
    }
}

// utils
.fluid {
    width: 100%;
}


// responsiveness
@media (max-width: 750px) {
    .search-history-container .page-inner-container .search-list-table {
        width: calc(100dvw - 80px);
    }
}