@use '@angular/material' as mat;
@use "assets/style/style_theme-colors.scss" as theme;
@import "primeicons/primeicons.css";

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: theme.$primary-palette,
      tertiary: theme.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
  @include mat.theme-overrides((
    primary: #129990,
    on-primary: #f0f0f0,
    corner-full: 4px,
    corner-medium: 4px
  ));
}

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #f4f4f4;
  color: var(--fontColor); // base font color
}
